// Common
$font_base_color: #3e3e3e;
$font_Link_color: #0044a0;
$font_additional_color: #3e3e3e;
$font_error_color: tomato;

// Progress bar
$progress_bar_color: tomato;

// Form
$form_border_color: #cdcdcd;
$form_border_color_focused: tomato;
$form_background-color: #fff;

// Button
$button_color: #fff;
$button_background: #007bff;
$button_border: #007bff;
$button_cancel_color: #007bff;
$button_cancel_background: #fff;
$button_cancel_border: #007bff;
$button_disabled_background: #a9a9a9;
$button_disabled_border: #dcdcdc;

// vote
$vote_active_color: #888;
$vote_passive_color: #ccc;

// loginForm
$login_form_background-color: #f7f7f7;
$login_form_button_font_color: #fff;
$login_form_button_background_color: #0252a8;
$login_form_button_border_color: #0252a8;

// Header
$header_button_color: #0056b3;
$header_button_hover_color: #0252a8;
$header_link_font_color: #fff;
$header_link_background_color: #0252a8;
$header_link_border_color: #0252a8;
$header_navbar_background-color: #fafafa;
$header_navbar_border-bottom: #dadada;
