@import '~@/assets/css/commonStyle';

.main {
  width: 80%;
  margin: 3rem auto auto;
}

.container {
  width: 100%;
  display: -webkit-flex;
  display: flex;
}

.listTitle {
  margin-bottom: 0.8rem;
  font-size: 2rem;
}

.question,
.answerList {
  margin-bottom: 2rem;
}
